KelioExporter/Web References/ClockingServiceClient1/ClockingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://echange.service.open.bodet.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ClockingService" targetNamespace="http://echange.service.open.bodet.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:tns="http://lang.java" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://lang.java">
      <xsd:complexType name="Throwable">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:complexType name="Exception">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Throwable">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:ns0="http://lang.java" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://echange.service.open.bodet.com">
      <xsd:complexType name="Clocking">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:EmployeeInformation">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="date" nillable="true" type="xsd:date" />
              <xsd:element minOccurs="0" name="geolocationPrecision" nillable="true" type="xsd:int" />
              <xsd:element minOccurs="0" name="time" nillable="true" type="xsd:time" />
              <xsd:element minOccurs="0" name="latitude" nillable="true" type="xsd:float" />
              <xsd:element minOccurs="0" name="longitude" nillable="true" type="xsd:float" />
              <xsd:element minOccurs="0" name="obtainingMode" nillable="true" type="xsd:short" />
              <xsd:element minOccurs="0" name="clockingTypeIndicator" nillable="true" type="xsd:short" />
              <xsd:element minOccurs="0" name="inOutIndicator" nillable="true" type="xsd:short" />
              <xsd:element minOccurs="0" name="readerDescription" nillable="true" type="xsd:string" />
              <xsd:element minOccurs="0" name="terminalDescription" nillable="true" type="xsd:string" />
              <xsd:element minOccurs="0" name="absenceTypeAbbreviation" nillable="true" type="xsd:string" />
              <xsd:element minOccurs="0" name="absenceTypeDescription" nillable="true" type="xsd:string" />
              <xsd:element minOccurs="0" name="geolocationStatus" nillable="true" type="xsd:short" />
              <xsd:element minOccurs="0" name="timePosition" nillable="true" type="xsd:int" />
              <xsd:element minOccurs="0" name="automatic" nillable="true" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="absenceTypeKey" nillable="true" type="xsd:int" />
              <xsd:element minOccurs="0" name="readerKey" nillable="true" type="xsd:int" />
              <xsd:element minOccurs="0" name="clockingKey" nillable="true" type="xsd:int" />
              <xsd:element minOccurs="0" name="terminalKey" nillable="true" type="xsd:int" />
              <xsd:element minOccurs="0" name="overtimeTypeKey" nillable="true" type="xsd:int" />
              <xsd:element minOccurs="0" name="overtimeTypeDescription" nillable="true" type="xsd:string" />
              <xsd:element minOccurs="0" name="overtimeTypeAbbreviation" nillable="true" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EmployeeInformation">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Object">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="employeeIdentificationNumber" nillable="true" type="xsd:string" />
              <xsd:element minOccurs="0" name="archivedEmployee" nillable="true" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="employeeIdentificationCode" nillable="true" type="xsd:string" />
              <xsd:element minOccurs="0" name="employeeBadgeCode" nillable="true" type="xsd:string" />
              <xsd:element minOccurs="0" name="employeeKey" nillable="true" type="xsd:int" />
              <xsd:element minOccurs="0" name="employeeSurname" nillable="true" type="xsd:string" />
              <xsd:element minOccurs="0" name="employeeFirstName" nillable="true" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Object" abstract="true">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="errorMessage" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="technicalString" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfClocking">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Clocking" nillable="true" type="tns:Clocking" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AskedPopulationWithPeriod">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:AskedPopulation">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="endDate" nillable="true" type="xsd:date" />
              <xsd:element minOccurs="0" name="startDate" nillable="true" type="xsd:date" />
              <xsd:element minOccurs="0" name="startOffset" nillable="true" type="xsd:int" />
              <xsd:element minOccurs="0" name="endOffset" nillable="true" type="xsd:int" />
              <xsd:element minOccurs="0" name="dateMode" nillable="true" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AskedPopulation">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:EmployeeInformation">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="populationStartDate" nillable="true" type="xsd:date" />
              <xsd:element minOccurs="0" name="populationEndDate" nillable="true" type="xsd:date" />
              <xsd:element minOccurs="0" name="populationFilter" nillable="true" type="xsd:string" />
              <xsd:element minOccurs="0" name="groupFilter" nillable="true" type="xsd:string" />
              <xsd:element minOccurs="0" name="populationMode" nillable="true" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAskedPopulationWithPeriod">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AskedPopulationWithPeriod" nillable="true" type="tns:AskedPopulationWithPeriod" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="askedEmployee">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:EmployeeInformation">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="endDate" nillable="true" type="xsd:date" />
              <xsd:element minOccurs="0" name="startDate" nillable="true" type="xsd:date" />
              <xsd:element minOccurs="0" name="startOffset" nillable="true" type="xsd:int" />
              <xsd:element minOccurs="0" name="endOffset" nillable="true" type="xsd:int" />
              <xsd:element minOccurs="0" name="dateMode" nillable="true" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAskedEmployee">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="askedEmployee" nillable="true" type="tns:askedEmployee" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deletePhysicalClockings" type="tns:deletePhysicalClockings" />
      <xsd:complexType name="deletePhysicalClockings">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="clockingsToDelete" type="tns:ArrayOfClocking" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deletePhysicalClockingsResponse" type="tns:deletePhysicalClockingsResponse" />
      <xsd:complexType name="deletePhysicalClockingsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="clockingsInError" type="tns:ArrayOfClocking" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="exportCalculatedClockingsOnly" type="tns:exportCalculatedClockingsOnly" />
      <xsd:complexType name="exportCalculatedClockingsOnly">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="employeeList" type="tns:ArrayOfAskedPopulationWithPeriod" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="exportCalculatedClockingsOnlyResponse" type="tns:exportCalculatedClockingsOnlyResponse" />
      <xsd:complexType name="exportCalculatedClockingsOnlyResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="exportedClockings" type="tns:ArrayOfClocking" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="importClockings" type="tns:importClockings" />
      <xsd:complexType name="importClockings">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="clockingsToImport" type="tns:ArrayOfClocking" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="importClockingsResponse" type="tns:importClockingsResponse" />
      <xsd:complexType name="importClockingsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="clockingsInError" type="tns:ArrayOfClocking" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="exportClockings" type="tns:exportClockings" />
      <xsd:complexType name="exportClockings">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="employeeList" type="tns:ArrayOfAskedPopulationWithPeriod" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="exportClockingsResponse" type="tns:exportClockingsResponse" />
      <xsd:complexType name="exportClockingsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="exportedClockings" type="tns:ArrayOfClocking" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="exportClockingsByDateForEmployeeList" type="tns:exportClockingsByDateForEmployeeList" />
      <xsd:complexType name="exportClockingsByDateForEmployeeList">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="employeeList" type="tns:ArrayOfAskedEmployee" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="exportClockingsByDateForEmployeeListResponse" type="tns:exportClockingsByDateForEmployeeListResponse" />
      <xsd:complexType name="exportClockingsByDateForEmployeeListResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="exportedClockings" type="tns:ArrayOfClocking" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="exportClockingsByDate" type="tns:exportClockingsByDate" />
      <xsd:complexType name="exportClockingsByDate">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="populationFilter" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="groupFilter" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="startDate" nillable="true" type="xsd:date" />
          <xsd:element minOccurs="0" name="endDate" nillable="true" type="xsd:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="exportClockingsByDateResponse" type="tns:exportClockingsByDateResponse" />
      <xsd:complexType name="exportClockingsByDateResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="exportedClockings" type="tns:ArrayOfClocking" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="importPhysicalClockings" type="tns:importPhysicalClockings" />
      <xsd:complexType name="importPhysicalClockings">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="clockingsToImport" type="tns:ArrayOfClocking" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="importPhysicalClockingsResponse" type="tns:importPhysicalClockingsResponse" />
      <xsd:complexType name="importPhysicalClockingsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="clockingsInError" type="tns:ArrayOfClocking" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Exception" nillable="true" type="ns0:Exception" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="deletePhysicalClockings">
    <wsdl:part name="parameters" element="tns:deletePhysicalClockings" />
  </wsdl:message>
  <wsdl:message name="deletePhysicalClockingsResponse">
    <wsdl:part name="parameters" element="tns:deletePhysicalClockingsResponse" />
  </wsdl:message>
  <wsdl:message name="exportCalculatedClockingsOnly">
    <wsdl:part name="parameters" element="tns:exportCalculatedClockingsOnly" />
  </wsdl:message>
  <wsdl:message name="exportCalculatedClockingsOnlyResponse">
    <wsdl:part name="parameters" element="tns:exportCalculatedClockingsOnlyResponse" />
  </wsdl:message>
  <wsdl:message name="importClockings">
    <wsdl:part name="parameters" element="tns:importClockings" />
  </wsdl:message>
  <wsdl:message name="importClockingsResponse">
    <wsdl:part name="parameters" element="tns:importClockingsResponse" />
  </wsdl:message>
  <wsdl:message name="exportClockings">
    <wsdl:part name="parameters" element="tns:exportClockings" />
  </wsdl:message>
  <wsdl:message name="exportClockingsResponse">
    <wsdl:part name="parameters" element="tns:exportClockingsResponse" />
  </wsdl:message>
  <wsdl:message name="exportClockingsByDateForEmployeeList">
    <wsdl:part name="parameters" element="tns:exportClockingsByDateForEmployeeList" />
  </wsdl:message>
  <wsdl:message name="exportClockingsByDateForEmployeeListResponse">
    <wsdl:part name="parameters" element="tns:exportClockingsByDateForEmployeeListResponse" />
  </wsdl:message>
  <wsdl:message name="exportClockingsByDate">
    <wsdl:part name="parameters" element="tns:exportClockingsByDate" />
  </wsdl:message>
  <wsdl:message name="exportClockingsByDateResponse">
    <wsdl:part name="parameters" element="tns:exportClockingsByDateResponse" />
  </wsdl:message>
  <wsdl:message name="importPhysicalClockings">
    <wsdl:part name="parameters" element="tns:importPhysicalClockings" />
  </wsdl:message>
  <wsdl:message name="importPhysicalClockingsResponse">
    <wsdl:part name="parameters" element="tns:importPhysicalClockingsResponse" />
  </wsdl:message>
  <wsdl:portType name="ClockingServicePortType">
    <wsdl:operation name="deletePhysicalClockings">
      <wsdl:input name="deletePhysicalClockings" message="tns:deletePhysicalClockings" />
      <wsdl:output name="deletePhysicalClockingsResponse" message="tns:deletePhysicalClockingsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="exportCalculatedClockingsOnly">
      <wsdl:input name="exportCalculatedClockingsOnly" message="tns:exportCalculatedClockingsOnly" />
      <wsdl:output name="exportCalculatedClockingsOnlyResponse" message="tns:exportCalculatedClockingsOnlyResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="importClockings">
      <wsdl:input name="importClockings" message="tns:importClockings" />
      <wsdl:output name="importClockingsResponse" message="tns:importClockingsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="exportClockings">
      <wsdl:input name="exportClockings" message="tns:exportClockings" />
      <wsdl:output name="exportClockingsResponse" message="tns:exportClockingsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="exportClockingsByDateForEmployeeList">
      <wsdl:input name="exportClockingsByDateForEmployeeList" message="tns:exportClockingsByDateForEmployeeList" />
      <wsdl:output name="exportClockingsByDateForEmployeeListResponse" message="tns:exportClockingsByDateForEmployeeListResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="exportClockingsByDate">
      <wsdl:input name="exportClockingsByDate" message="tns:exportClockingsByDate" />
      <wsdl:output name="exportClockingsByDateResponse" message="tns:exportClockingsByDateResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="importPhysicalClockings">
      <wsdl:input name="importPhysicalClockings" message="tns:importPhysicalClockings" />
      <wsdl:output name="importPhysicalClockingsResponse" message="tns:importPhysicalClockingsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClockingServiceSoapBinding" type="tns:ClockingServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deletePhysicalClockings">
      <soap:operation soapAction="urn:deletePhysicalClockings" style="document" />
      <wsdl:input name="deletePhysicalClockings">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deletePhysicalClockingsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportCalculatedClockingsOnly">
      <soap:operation soapAction="urn:exportCalculatedClockingsOnly" style="document" />
      <wsdl:input name="exportCalculatedClockingsOnly">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="exportCalculatedClockingsOnlyResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importClockings">
      <soap:operation soapAction="urn:importClockings" style="document" />
      <wsdl:input name="importClockings">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="importClockingsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportClockings">
      <soap:operation soapAction="urn:exportClockings" style="document" />
      <wsdl:input name="exportClockings">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="exportClockingsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportClockingsByDateForEmployeeList">
      <soap:operation soapAction="urn:exportClockingsByDateForEmployeeList" style="document" />
      <wsdl:input name="exportClockingsByDateForEmployeeList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="exportClockingsByDateForEmployeeListResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportClockingsByDate">
      <soap:operation soapAction="urn:exportClockingsByDate" style="document" />
      <wsdl:input name="exportClockingsByDate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="exportClockingsByDateResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importPhysicalClockings">
      <soap:operation soapAction="urn:importPhysicalClockings" style="document" />
      <wsdl:input name="importPhysicalClockings">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="importPhysicalClockingsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClockingService">
    <wsdl:port name="ClockingServiceHttpPort" binding="tns:ClockingServiceSoapBinding">
      <soap:address location="https://georges-helfer-sa.kelio.io/open/services/ClockingService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>